.containerLogin {
    max-width: 300px;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.textTitle {
    text-align: center;
}

.containerData {
    margin-top: 15px;
    margin-left: 10px;
}

.linea {
    background-color: orange;
    height: 2px;
    width: 100%;
    margin-bottom: 20px;
}

.sortable:after {
    font: 14px/1 FontAwesome;
    content: "\f0dc";
}

.sortable.sort-ascent:after {
    content: '\f0de';
    vertical-align: bottom;
}

.sortable.sort-descent:after {
    content: "\f0dd";
    vertical-align: top;
}